<doctype <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Community Events Board Add Event</title>
  </head>
  <body>
    <h1>Tell me about your next event</h1>
    <form method = "post" action = "/results">
      <p>Event Name</p><br>
      <input type = "text" name = "event_name">
      <p>Event Date</p><br>
      <input type = "text" name = "event_date"
      <br>
    <h2>Event Type</h2>
    <form>
      <input type="radio" name="event_type" value="Birthday" > Birthday<br>
      <input type="radio" name="event_type" value="Week day"> Week day<br>
      <input type="radio" name="event_type" value="Weekend"> Weekend
    <br>
      <input type = "submit">
    </form>
  </body>
</html>
